@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_100.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_300.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_500.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_700.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_900.otf');
    font-weight: 900;
    font-style: normal;
}

* { margin: 0; padding: 0; border: 0; }
body{background-color: black; font-family: 'MuseoSlab', arial, sans-serif; }

.container{
	width: 980px;
	height: 655px;
	background-color: #efefef;
	position: relative;
	margin: 0 auto;
}
.header{
	width: 980px;
	height: 153px;
}
.navigation > ul {
	position: absolute;
	margin-left: 25px;
	margin-top: 30px;
	padding: 0;
	list-style-type: none;
}
.navigation > ul > li {
	width: 113px;
	height: 21px;
	display: inline-block;
	float: left;
	margin-left: 2px;
	background-color: #bfbfbf;
	
}
.navigation > ul > li > a {
	width: 106px;
	height: 14px;
	display: inline-block;
    	padding-left: 5px;
    	padding-top: 7px;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	color: #797061;
}
.navigation > ul > li > a:hover {
	color: white;
	transition: color 0.5s ease;
}
.navigation > ul > li:hover {
	background-color: #52a139;
	transition: background-color 0.5s ease;
}
.navnow{
	width:108px !important;
	color: white !important;
	background-color: #52a139;
}

.slogan{
	color:#625640;
	position:absolute;
	margin-top:100px;
	margin-left:25px;
}
.slogan > .head{
	font-size: 28px;
	font-weight: 900;
	display:inline-block;
}
.slogan > .tail{
	margin-left: 5px;
	font-size: 28px;
	font-weight: 300;
	display:inline-block;
}
.teaklogo{
	width:140px;
	height:74px;
	position:absolute;
	top:54px;
	right: 25px;
}
.strip{
	width: 980px;
	height: 30px;
	position:absolute;
	margin-top:153px;
	z-index:1;
}
.hero{
	width: 980px;
	height: 325px;
	position: relative;
}
.hero > img{
	width: 100%;
	height: auto;
}
.hero > .badge{
	width: 125px;
	height: 125px;
	position: absolute;
	right:25px;
	margin-top: 35px;
}
.hero > .badgeabout{
	width: 125px;
	height: 125px;
	position: absolute;
	left:310px;
	margin-top: 35px;
}
.hero > .blackbar{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 13px;
	background-color: black;
	opacity: 0.4;
}
.hero > .stripdown{
	width: 980px;
	height: 30px;
	position:absolute;
	bottom:13px;
	z-index:1;
}

.content{
	width: 980px;
	height:182px;
	position:relative;
}
.content > .homewrap{
	width: 560px;
	height: 110px;
	position: absolute;
	padding-left: 20px;
	top: 35px;
	right:0;
	border-left:  1px dashed #a9a9a9;
}
.homehighlight{
	width: 110px;
	height:15px;
	position:relative;
	display:block;
	font-size: 15px;
	font-weight: 700;
	color:#625640;
	padding-left: 2px;
}
.green{
	margin-top: 2px;
	padding-top: 2px;
	background-color: #52a139;
	color:white !important;
}
.hometext{
	position:absolute;
	left:160px;
	top:0;
	font-size: 15px;
	font-weight: 500;
	color:#625640;
}
.hometext > em{
	font-style:normal;
	font-weight: 700;
	color:#52a139;
}
.about{
	width:500px;
	height:290px;
	position:absolute;
	right:0;
	top:34px;
	font-size: 15px;
	color:#625640;
}
.about > .title{
	font-style:normal;
	font-weight: 700;
}
.about > .title > em{
	width: 200px;
	font-weight: 700;
	font-style:normal;
	background-color: #52a139;
	color:white !important;
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 30px;
}
.about > .content{
	width:480px;
	top:20px;
	padding-top: 20px;
	font-weight: 500;
	border-top: 1px dashed #a9a9a9;
}
.about > .content > em{
	height:15px;
	font-style:normal;
	font-weight: 900;
}
