@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_100.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_300.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_500.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_700.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSlab';
    src: url('../font/Museo_Slab_900.otf');
    font-weight: 900;
    font-style: normal;
}




* { margin: 0; padding: 0; border: 0; }
body{background-color:#efefef; font-family: 'MuseoSlab', arial, sans-serif; }

.container{
	width: 100%;
	height: 100%;
	min-width: 980px;
	min-height: 660px;
	background-color: #efefef;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.header{
	width: 980px;
	height: 153px;
}
.navigation > ul {
	position: absolute;
	margin-left: 25px;
	margin-top: 30px;
	padding: 0;
	list-style-type: none;
}
.navigation > ul > li {
	width: 113px;
	height: 21px;
	display: inline-block;
	float: left;
	margin-left: 2px;
	background-color: #bfbfbf;
	
}
.navigation > ul > li > a {
	width: 106px;
	height: 14px;
	display: inline-block;
    	padding-left: 5px;
    	padding-top: 7px;
	font-size: 11px;
	font-weight: 700;
	text-decoration: none;
	color: #797061;
}
.navigation > ul > li > a:hover {
	color: white;
	transition: color 0.5s ease;
}
.navigation > ul > li:hover {
	background-color: #52a139;
	transition: background-color 0.5s ease;
}
.navnow{
	width:108px !important;
	color: white !important;
	background-color: #52a139;
}

.slogan{
	color:#625640;
	position:absolute;
	margin-top:100px;
	margin-left:25px;
}
.slogan > .head{
	font-size: 28px;
	font-weight: 900;
	display:inline-block;
}
.slogan > .tail{
	margin-left: 5px;
	font-size: 28px;
	font-weight: 300;
	display:inline-block;
}
.teaklogo{
	width:140px;
	height:74px;
	position:absolute;
	top:54px;
	right: 25px;
}
.strip{
	width: 100%;
	height: 30px;
	position:absolute;
	margin-top:153px;
	z-index:99;
}
.hero{
	width: 100%;
	height: auto;
	position: relative;
}
.hero > img{
	width: 100%;
	height: auto;
}
.hero > .slideBG{
	position:static;
	top:0;
	width: 100%;
	height: auto;
}
.hero > .badge{
	width: 125px;
	height: 125px;
	position: absolute;
	right:25px;
	margin-top: 35px;
	z-index: 99;
}
.hero > .badgeabout{
	width: 125px;
	height: 125px;
	position: absolute;
	left:30%;
	margin-top: 35px;
}
.hero > .blackbar{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 24px;
	background-color: black;
	opacity: 0.4;
	z-index: 99;
}
.hero > .stripdown{
	width: 100%;
	height: 30px;
	position:absolute;
	bottom:4px;
	z-index:1;
}

.content{
	float:right;
	width: 980px;
	height:182px;
	position:relative;
}
.home{
	margin-top:-20px !important;

}
.content > .homewrap{
	width: 560px;
	height: 110px;
	position: absolute;
	padding-left: 20px;
	top: 30px;
	right:0;
	border-left:  1px dashed #a9a9a9;
}
.homehighlight{
	width: 110px;
	height:15px;
	position:relative;
	display:block;
	font-size: 15px;
	font-weight: 700;
	color:#625640;
	padding-left: 2px;
}
.green{
	margin-top: 2px;
	padding-top: 2px;
	background-color: #52a139;
	color:white !important;
}
.hometext{
	position:absolute;
	left:160px;
	top:0;
	font-size: 15px;
	font-weight: 500;
	color:#625640;
}
.hometext > em{
	font-style:normal;
	font-weight: 700;
	color:#52a139;
}
.about{
	width:500px;
	height:290px;
	position:absolute;
	right:20px;
	top:34px;
	font-size: 15px;
	color:#625640;
}
.about > .title{
	font-style:normal;
	font-weight: 700;
	width:480px;
	float:right;
}
.about > .title > em{
	width: 200px;
	font-weight: 700;
	font-style:normal;
	background-color: #52a139;
	color:white !important;
	padding-top: 5px;
	padding-left: 3px;
	padding-right: 30px;
}
.about > .content{
	width:480px;
	top:20px;
	padding-top: 20px;
	font-weight: 500;
	border-top: 1px dashed #a9a9a9;
}
.about > .content > em{
	height:15px;
	font-style:normal;
	font-weight: 900;
}
.about > .content > strong{
	font-size: 15px;
	height:15px;
	font-style:normal;
	font-weight: 900;
	color:#52a139;
}
.approachStrip{
	width:100%;
	height:21px !important;
	position:absolute;
	bottom:2px;
}

.approach{
	width:21%;
	height:140px;
	padding: 0 6px;
	margin-top: 30px;
	float:right;
	display:inline-block;
	border-left: 1px dashed #a9a9a9;
	font-size: 15px;
	color:#625640;
	font-weight: 500;
	font-style:normal;
} 
.first > em{color:#a64d36;font-style:normal;}
.second > em{color:#38859d;font-style:normal;}
.third > em{color:#a3a428;font-style:normal;}
.service{
	width:24%;
	height:140px;
	padding-left: 8px;
	margin-top: 30px;
	float:right;
	display:inline-block;
	border-left: 1px dashed #a9a9a9;
	font-size: 15px;
	color:#625640;
	font-weight: 500;
	font-style:normal;
} 
.special{
	width:100% !important;
	margin:0 auto;
}
.first-noborder{
	border-style: none !important;
}
.team{
	height:507px!important;
	width: 100%;
	background-image: url(../images/teamBG.png) ;
	background-repeat: repeat-y;
	overflow-y:scroll; 
	overflow-x:hidden;
	position:absolute;
}
.person{
	width:980px;
	height:auto;
	margin-top: 40px;
	display:block;
	position:relative;
}
.person > img{
	width:135px;
	height:135px;
	position:absolute;
	left:180px;
	display:block;

}
.person > .story{
	width:500px;
	height:auto;
	border-bottom:1px dashed #a9a9a9;
	position:relative;
	padding-bottom: 10px;
	left:360px;
	font-size: 15px;
	color:#625640;
	font-weight: 500;
	font-style:normal;
}
.person > .story > em{
	font-size: 15px;
	color:#625640;
	font-weight: 900;
	font-style:normal;
}
.person > .story > a{
	font-size: 15px;
	color:#38859d;
	font-weight: 700;
	font-style:normal;
}
